<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="isHandset$ | async ">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [ngClass]="{'isActive':currentMenu=='movies'}" (click)="setCurrentMenu('movies')">Movies</a>
      <a mat-list-item [ngClass]="{'isActive':currentMenu=='tvshows'}" (click)="setCurrentMenu('tvshows')">TV Shows</a>
      <!-- <a mat-list-item [ngClass]="{'isActive':currentMenu=='music'}" (click)="setCurrentMenu('music')">Music</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>10flix</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-movies *ngIf="currentMenu=='movies'"></app-movies>
    <app-tvshows *ngIf="currentMenu=='tvshows'"></app-tvshows>
    <app-music *ngIf="currentMenu=='music'"></app-music>

  </mat-sidenav-content>
</mat-sidenav-container>
